@use "../../styles/variables.scss" as *;

.landing_2_container {
  width: 100vw;
  height: 100vh;
  // background-color: red;
  overflow: hidden;
  background-color: $main-bg;
  position: relative;
  background: url("../../assets/images/leaves_page_2.jpg");
  background-size: cover;
  background-position: center;

  .landing_2_container-1 {
    width: 100%;
    height: 30%;
    // background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-container {
      width: 50%;
      height: 100%;
      // background-color: aqua;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;

      h2 {
        font-size: 45px;
        color: $deep-green;
      }

      p {
        width: 55%;
        font-size: 20px;
        color: $forest-green;
      }
    }
  }

  .landing_2_container-2 {
    width: 100%;
    height: 70%;
    // background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

    .card-1 {
      width: 20%;
      height: 90%;
      // background-color: blueviolet;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      justify-content: space-evenly;
      border-radius: 25px;
      padding: 30px;
      border: 1.5px solid black;
      background-color: white;

      .card-1-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        // background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, #17320b, #26913e);

        img {
          width: 40%;
          height: 40%;
        }
      }

      h3 {
        font-size: 23px;
        width: 100%;
        padding-left: 20%;
      }

      p {
        font-size: 15px;
        line-height: 1.3;
        width: 105%;
        padding-left: 20%;
      }
    }
  }

}

.ran-cir{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $rich-brown;
  top: -14%;
  left: -5%;
}
