// Background Colour : 
// Light Orange #f4efe5

// Font Colour 
// Forest Green: #2e6417 Main
// Deep Green: #17320b 
// Rich Brown: #3d2500 
// Pastel Green : #bfecac

// Background
$main-bg: #f4efe5;
$deep-green: #17320b;

// Font
$forest-green: #2e6417;
$pastel-green: #bfecac;

$rich-brown: #3d2500;

$primary: #264d00;   // deep green
$secondary: #4d79ff;
$background: #fefcf5;
$text-dark: #333;
$text-light: #fff;

$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
